.img-box {
  background-image: url("../../images/milla-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
} 

.headline {
  text-align: right;
  color: #fff7f0;
  text-shadow: 2px 0px 0px rgba(0,0,0,1);
  display: block;
  padding: 10em 5.5em 2em 0;
} 
  @media screen and (max-width: 680px) {
    .headline {padding: 10em 4em 1em 0;
    }
  }
  @media screen and (max-width: 409px) {
    .headline {padding: 2.5em 3em 0;}
  }
  @media screen and (max-width: 368px) {
    .headline {padding: 1em 2em 0;}
  }
